@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  line-height: 150%;
  transition: all 0.4s ease-in-out;
}
:root {
  --accent: #66ff00;
  /* --accent: cyan; */
  --white: #fff;
  --black: #000;
  --bg-gradient: linear-gradient(
    126deg,
    rgba(255, 255, 255, 0.82) -0.68%,
    rgba(255, 255, 255, 0.25) 105.04%
  );
  --bg-filter: blur(10px);
  --border: 1px solid #fff;
  --subheader-text: 20px;
  --main-text: 16px;
  --btn-padding: 10px 20px;
}
body {
  min-height: 100vh;
  background-color: #5b574f;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background: url(public/images/Trees-bg-image.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  transition: 1s;
  opacity: 0;
  margin: 0 auto;
}

.main-div {
  max-width: 1152px;
  width: 90vw;
  min-height: 864px;
  height: 90vh;
  margin: 5vh 5vw;
  background: var(--bg-gradient);
  backdrop-filter: var(--bg-filter);
  border: var(--border);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 5vw;
}
.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--border);
  background: var(--bg-gradient);
  position: absolute;
  right: 2.5vw;
  top: 2.5vw;
  cursor: pointer;
}
.icons {
  font-size: 30px;
  color: var(--accent);
}
.welcome {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  scale: 1;
  transition: 0.5s;
}
.hidden-welcome {
  scale: 0;
  opacity: 0;
  translate: -100%;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
.texts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2.5rem;
}
.texts .greetings {
  font-size: var(--subheader-text);
  color: var(--white);
  font-weight: 400;
}
.texts .main-text {
  color: var(--white);
  font-size: 45px;
  font-weight: 600;
  margin-left: 1.5rem;
}
.welcome-images {
  position: relative;
}
.img {
  display: block;
  height: 357px;
  width: 286px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  border: var(--border);
}
.img-rect {
  transform: rotate(5deg);
  position: absolute;
  top: 0;
  z-index: -1;
}
.btns {
  width: auto;
  height: auto;
  font-size: var(--subheader-text);
  padding: var(--btn-padding);
  color: var(--white);
  background: inherit;
  border-radius: 25px;
  border: var(--border);
  overflow: hidden;
  cursor: pointer;
  color: var(--accent);
  position: relative;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}
.btns::before {
  color: var(--white);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  scale: 1;
  background-color: var(--accent);
  transition: all 0.4s ease-in-out;
}
.btns:hover {
  box-shadow: 3px 3px 15px #3333338a;
  color: var(--white);
  border-color: var(--accent);
  scale: 1.03;
  transition: all 0.4s ease-in-out;
}
.btns:hover::before {
  width: 100%;
  z-index: -1;
}
.navbar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
.nav-content {
  color: var(--white);
  font-size: var(--subheader-text);
  font-weight: 600;
  text-decoration: none;
}
#about-me-main-div {
  height: auto;
  margin-top: 5vh;
  scroll-behavior: smooth;
}
.about-me {
  display: grid;
  gap: 10%;
  grid-template-columns: auto 1fr;
  /* min-height: 90%; */
  width: 90%;
}
.about-me-contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}
.about-me-contents h3 {
  font-size: var(--subheader-text);
  color: var(--white);
}
.about-me-contents p {
  color: var(--white);
  font-weight: 400;
  font-style: italic;
}
.skills-contents {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.skill {
  padding: 6px 10px;
  background-color: var(--bg-gradient);
  color: var(--white);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  font-size: 1rem;
  font-weight: 600;
  border: var(--border);
}
.skills-title {
  font-size: var(--subheader-text);
  font-weight: 600;
  margin-bottom: 1rem;
}
.main-edu-contents .timeline {
  width: 100%;
  /* height: fit-content; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  position: relative;
  user-select: none;
}
.main-edu-contents .timeline::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: var(--accent);
}
.timeline-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: flex-start;
  color: var(--white);
  position: relative;
  padding-left: 35px;
}
.timeline-item::before {
  content: "";
  height: 11px;
  aspect-ratio: 1;
  background-color: var(--accent);
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: 50%;
  transform: translateX(-40%);
}

.timeline-item .date {
  color: var(--accent);
}
.title {
  text-transform: uppercase;
  font-size: var(--main-text);
  font-weight: 500;
}

::-webkit-scrollbar {
  display: none;
}
.timeline-titles-div {
  margin-bottom: 20px;
}
.timeline-titles {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  font-size: var(--subheader-text);
  position: relative;
  margin-right: 2rem;
}
.timeline-titles.active {
  color: var(--accent);
}

.timeline-titles::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white);
}
.buttons-div {
  margin-top: 3rem;
  position: relative;
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: row;
}
#works-main-div {
  padding-left: 3vw;
  padding-right: 3vw;
  height: auto;
  margin-top: 5vh;
}
.works-title {
  font-size: 25px;
  font-weight: 700;
  color: var(--white);
  text-align: center;
}
.works-selector {
  display: flex;
  width: 60%;
  justify-content: flex-start;
  gap: 2rem;
  color: var(--white);
  font-weight: 600;
}
.selector.selected {
  color: var(--accent);
  position: relative;
}
.selector.selected::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
  bottom: 0;
  left: 0;
}
.works-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.work-item {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}
.work-item figure {
  flex: 1;
  padding: 8px;
  flex-basis: 100px;
  max-width: 300px;
  max-height: 160px;
  border-radius: 11px;
  background-color: #ffffff66;
}
.works-img {
  aspect-ratio: 1.875 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.work-item p {
  font-size: var(--subheader-text);
  font-weight: 700;
  color: var(--white);
}
.work-item button {
  font-size: var(--main-text);
  padding: 6px 15px;
}
#view-work-main-div {
  height: auto;
  margin-top: 5vh;
  padding-bottom: 3vw;
}
.view-work {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: flex-start;
}
.view-work img {
  width: 100%;
  aspect-ratio: 1.875 /1;
  object-fit: cover;
  border-radius: 20px;
}
.card-texts {
  margin-top: 1rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-texts p:first-of-type {
  font-size: 25px;
  color: var(--accent);
  font-weight: 600;
}
.card-texts p {
  font-weight: 500;
}
.card-texts p span,
.card-texts p a {
  font-weight: 700;
  margin-left: 1rem;
  font-size: 18px;
  color: var(--accent);
}
.view-work .return {
  margin-top: 2rem;
  display: flex;
  gap: 5px;
  padding: 8px 15px;
}
/*Contact me Div*/
.contact-me {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.send-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 45%;
}
.one-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  color: var(--white);
}
.one-input label {
  font-size: var(--main-text);
  font-weight: 400;
}
.one-input .inputs {
  
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  color: var(--black);
  background: rgba(255, 255, 255, 0.3);
  border: var(--border);
  border-radius: 5px;
}
.contact-links {
  width: 46%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
.contact-item {

  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
  padding: 44px 62px;
  background-color: rgba(255, 255, 255, 0.212);
  border: var(--border);
  border-radius: 20px;
}
.contact-item p {
  color: var(--white);
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.contact-link-icons {
  font-size: 36px;
  cursor: pointer;
}
